.leftbar{
    flex: 1.5;
    height: 50vh;
    margin: 2% 25px;
    /* margin-top: 5%; */
}

.leftbarWrapper{
    /* background-color: white; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.createButton {
    background-color: #05AB9F;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
.createButton:hover {
    background-color: #3e8e41;
}

.title{
    font-size: 25px;
    font-weight: 600;
}
  