@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans Thai', sans-serif;
}

body{
    background-color: #F9F9F9;
    min-height: 100vh;
}

.contrainer{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}

.inner-contrainer{
    width: 100%;
    background-color: #ffffff;
    margin-top: 3%;
    padding: 2%;
    border-radius: 50px;
    padding-bottom: 5%;
}

.header{
    text-align: center;
}

.top-contrainer{
    display: flex;
    flex-direction: row;
}
.head-left{
    width: 50%;
    display: flex;
    justify-content: center;
}
.head-right{
    width: 50%;
    display: flex;
    justify-content: center;

}

.noti-contrainer{
    display: flex;
    flex-direction: row;
}
.noti-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 60vh;
    margin-right: 1%;
}
.noti-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 60vh;
    margin-left: 1%;
}

.notiitem{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.info{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.picture{
    width: 30%;
    height: 120px;
}

.noti-image{
    max-width: 170px;
    max-height: 120px;
    border-radius: 20px;
    object-fit:contain;
}
.line{
    height:2px;
    border-width:1;
    color:gray;
    background-color:gray;
    margin-top: 0;
}


::-webkit-scrollbar {
    width: 5px;
    margin-left: 0;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(238, 238, 238); 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background:rgb(148, 148, 148); 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background:rgb(31, 31, 31); }

.summit-button{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border-color: #F9F9F9;
    background-color: #05AB9F;
    border:0px;
    margin-right: 10px;
}

.reject-button{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border-color: #F9F9F9;
    background-color: #ca342f;
    border:0px;
}