@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans Thai', sans-serif;
}

.container-ad{
  background-color: rgb(235, 235, 235);
  width: 1598px;
  min-height: 1200px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 50px;
  margin: auto;
  margin-top: 15px;
  flex-direction: column;
}

.add-tag {
  padding: 0 70px;
}

.report-header {
  width: 1598px;
  height: 70px;
  padding: 0 70px;
  border-bottom: 1px solid #e2dfdf;
  /* background-color: rebeccapurple; */
  /* border-top-right-radius: 15px; */
}
.header-text {
  font-size: 30px;
  font-weight: bold;
  color: #252733;
}
.sub-button {
  width: 200px;
  height: 35px;
  border-radius: 0%;
  border: none;
  margin-left: 82%;
  background: #F6F6F6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  
}
.table {
  width: 100%;
  margin-top: 50px;
  margin-left: 0px ;
  background-color: rgb(235, 235, 235);
  border-radius: px;
  border: none;
}



td {
  padding: 30px 10px;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid #DFE0EB;
}

.add-btn {
  margin-top: 30px;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: #05ab5e;
  cursor: pointer;
}

.edit-btn {
  border-radius: 30px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: #05AB9F;
  cursor: pointer;
}

.delete-btn {
  margin-left: 15px;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: rgb(233, 79, 79);
  cursor: pointer;
}

.Ban-ad {
  border-radius: 30px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: rgb(233, 79, 79);
  cursor: pointer;
}
.normal-ad {
  border-radius: 15px;
  width: 70px;
  height: 25px;
  background-color: #05AB9F;
  border: none;
}

.modalAdminBG{
    width: 200px;
    height: 200px;
    /* background-color: transparent; */
    position: fixed;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.modalAdmin-container{
  margin-top: -80px;
    width: 200px;
    height: 100px;
    border-radius: 12px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0.;
    
    padding: 25px;
}

.modalAdminTitle{
    display: inline-block;
    text-align: center;
    margin-top: -50px;
}
.admin-close-button{
  margin-left: 20px;
  
  background-color: rgb(216, 160, 160);
  border: none;
  border-radius: 10px;
}
.admin-confrim-button{
  margin-left: 10px;
  background-color: #05AB9F;
  border: none;
  border-radius: 10px;
}


